In [1]:
import pickle as pkl

In [2]:
F = pkl.load(open("stats/base1/stats.pkl", "rb"))

In [3]:
F

defaultdict(<function train_utils.rec_dd()>,
            {'valid': defaultdict(<function train_utils.rec_dd()>,
                         {-1: defaultdict(<function train_utils.rec_dd()>,
                                      {'accs': 1.2338722613176933e-05,
                                       'loss': 2.2907232301432208}),
                          0: defaultdict(<function train_utils.rec_dd()>,
                                      {'accs': 0.36227312173795023,
                                       'loss': 1.6503423110630622}),
                          1: defaultdict(<function train_utils.rec_dd()>,
                                      {'accs': 0.3624993316525251,
                                       'loss': 1.6479653091897049})}),
             'train': defaultdict(<function train_utils.rec_dd()>,
                         {0: defaultdict(<function train_utils.rec_dd()>,
                                      {'loss': 1.68471083309077,
                                       'acc': 0.3359548734607223}),
                          1: defaultdict(<function train_utils.rec_dd()>,
                                      {'loss': 1.6427477417112906,
                                       'acc': 0.35082412402216023})}),
             'next_epoch': 2,
             'best_epoch': 1})

In [8]:
import torch
from torchsummaryX import summary
from base_model import BaseModel as Model
model = torch.load("models/base1/best_model.pt").cuda()

In [9]:
summary(model, torch.zeros([1, 51, 700]).cuda())

======================================================================
              Kernel Shape   Output Shape   Params Mult-Adds
Layer
0_embedding       [22, 22]   [1, 700, 22]    484.0     484.0
1_cnn_1d_3    [51, 100, 3]  [1, 100, 700]    15.4k    10.71M
2_cnn_1d_5    [51, 100, 5]  [1, 100, 700]    25.6k    17.85M
3_gru_f_1                -    [1, 1, 250]  377.25k   375.75k
4_gru_b_1                -    [1, 1, 250]  377.25k   375.75k
...                    ...            ...      ...       ...
4205_gru_f_3             -    [1, 1, 500]        -      1.5M
4206_gru_b_3             -    [1, 1, 500]        -      1.5M
4207_dropout             -  [1, 700, 500]        -         -
4208_fc1        [500, 128]  [1, 700, 128]  64.128k     64.0k
4209_fc2          [128, 9]    [1, 700, 9]   1.161k    1.152k

[4210 rows x 4 columns]
----------------------------------------------------------------------
                            Totals
Total params             7.749773M
Trainable params         7.749773M
Non-trainable params           0.0
Mult-Adds             5.367525636G
======================================================================

              Kernel Shape   Output Shape    Params   Mult-Adds
Layer
0_embedding       [22, 22]   [1, 700, 22]     484.0       484.0
1_cnn_1d_3    [51, 100, 3]  [1, 100, 700]   15400.0  10710000.0
2_cnn_1d_5    [51, 100, 5]  [1, 100, 700]   25600.0  17850000.0
3_gru_f_1                -    [1, 1, 250]  377250.0    375750.0
4_gru_b_1                -    [1, 1, 250]  377250.0    375750.0
...                    ...            ...       ...         ...
4205_gru_f_3             -    [1, 1, 500]       NaN   1500000.0
4206_gru_b_3             -    [1, 1, 500]       NaN   1500000.0
4207_dropout             -  [1, 700, 500]       NaN         NaN
4208_fc1        [500, 128]  [1, 700, 128]   64128.0     64000.0
4209_fc2          [128, 9]    [1, 700, 9]    1161.0      1152.0

[4210 rows x 4 columns]

In [5]:
print(model)

BaseModel(
  (cnn_1d_3): Conv1d(51, 100, kernel_size=(3,), stride=(1,), padding=(1,))
  (cnn_1d_5): Conv1d(51, 100, kernel_size=(5,), stride=(1,), padding=(2,))
  (cnn_1d_1_1): Conv1d(751, 500, kernel_size=(1,), stride=(1,))
  (cnn_1d_1_2): Conv1d(1000, 500, kernel_size=(1,), stride=(1,))
  (gru_f_1): GRU(251, 250, batch_first=True)
  (gru_b_1): GRU(251, 250, batch_first=True)
  (gru_f_2): GRU(500, 500, batch_first=True)
  (gru_b_2): GRU(500, 500, batch_first=True)
  (gru_f_3): GRU(500, 500, batch_first=True)
  (gru_b_3): GRU(500, 500, batch_first=True)
  (fc1): Linear(in_features=500, out_features=128, bias=True)
  (fc2): Linear(in_features=128, out_features=9, bias=True)
  (dropout): Dropout(p=0.5, inplace=False)
  (embedding): Embedding(22, 22)
  (bnorm1): BatchNorm1d(251, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (bnorm2): BatchNorm1d(500, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (bnorm3): BatchNorm1d(500, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)